{% extends 'base.html' %} {% load static %} {% block content %}


<center>
   
        <div class="col-lg-6">
<section class="appropos">
    <h1 class="">A PROPOS </h1>




<br>
<br>
<br>
    <div>
    <img class="mon_img" src="static/images/moi.jpg">
    <p class= "nom " > BOUNAMA KOUNTA </p>
    <p class="poffe">Developpeur </p>
    <p class="age"> 24 </p>
    </div>

</section>
<div class="">
    <section class="present">
        Salut je suis Bounama Kounta Goudiaby, 24 ans célibataire. Je suis de nationalite senegalaise.Passioné pour la téchnologie et l'informatique, alors une fois le bac en poche j’ai décidé de m’orienter en informatique et de me specialisation est developement web et mobile. Mais aussi je travail sur tous ce qui gravite au tour de l'informatique. Je suis toujours à la recherche de nouvelles connaissances pour m'améliorer plus en informatique qui est le domaine le plus complexe et dynamique.
    
    </section>
    </div>
</div>

</center>


{% endblock content %}
