{% extends 'base.html' %} {% load static %} {% block content %}




<!-- home section ends -->
<section class="topcours" id="services">


    <div class="row">
      {% for top  in list_top %}
  
      <div class="col-md-3 blog">

        <div class="box">
          <div class="image">
              <img src="{{top.image.url}}" alt="">
              <h3></h3>
          </div>
          <div class="content">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <h3> {{top.title}}</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, deleniti!</p>
              <a href="#" class="btnn">detail</a>
          </div>
      </div>








    
     <br>
    
    </div>
  
   
  
    {% endfor %}
    </div> 
  </section>

