{% extends 'base.html' %} {% load static %} {% block content %}


<section class="services section container" id="services">
    <div class="row">
    <div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">Cours Python complet</h5>
            <!-- Default List group -->
            <ul class="list-group">
                <li class="list-group-item"><a href="#"
                        onclick="document.getElementById('test').style.visibility='visible'"
                        class="underline">0.INTRODUCTION AU COURS PYTHON</a></li>
                <li class="list-group-item"><a href="" class="underline">1.Introduction à Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.L’environnement de travail Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.Syntaxe de base et exécution d’instructions
                        Python</a></li>
                <li class="list-group-item">LES VARIABLES ET LES TYPES DE VALEURS PYTHON<a href=""></a></li>
                <li class="list-group-item"><a href="" class="underline">3.Les variables Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les types de données ou types de valeurs
                        Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les opérateurs Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les listes Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les tuples Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les dictionnaires Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les ensembles ou sets Python</a></li>
                <li class="list-group-item">LES STRUCTURES DE CONTRÔLE PYTHON<a href="" class="underline"></a></li>
                <li class="list-group-item"><a href="" class="underline">Les structures conditionnelles if, if…else et
                        if…elif…else en Python</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
            </ul><!-- End Default List group -->
    </div>




    
</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">Cours Python complet</h5>
            <!-- Default List group -->
            <ul class="list-group">
                <li class="list-group-item"><a href="#"
                        onclick="document.getElementById('test').style.visibility='visible'"
                        class="underline">0.INTRODUCTION AU COURS PYTHON</a></li>
                <li class="list-group-item"><a href="" class="underline">1.Introduction à Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.L’environnement de travail Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.Syntaxe de base et exécution d’instructions
                        Python</a></li>
                <li class="list-group-item">LES VARIABLES ET LES TYPES DE VALEURS PYTHON<a href=""></a></li>
                <li class="list-group-item"><a href="" class="underline">3.Les variables Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les types de données ou types de valeurs
                        Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les opérateurs Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les listes Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les tuples Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les dictionnaires Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les ensembles ou sets Python</a></li>
                <li class="list-group-item">LES STRUCTURES DE CONTRÔLE PYTHON<a href="" class="underline"></a></li>
                <li class="list-group-item"><a href="" class="underline">Les structures conditionnelles if, if…else et
                        if…elif…else en Python</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
            </ul><!-- End Default List group -->
    </div>

        
</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">Cours Python complet</h5>
            <!-- Default List group -->
            <ul class="list-group">
                <li class="list-group-item"><a href="#"
                        onclick="document.getElementById('test').style.visibility='visible'"
                        class="underline">0.INTRODUCTION AU COURS PYTHON</a></li>
                <li class="list-group-item"><a href="" class="underline">1.Introduction à Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.L’environnement de travail Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.Syntaxe de base et exécution d’instructions
                        Python</a></li>
                <li class="list-group-item">LES VARIABLES ET LES TYPES DE VALEURS PYTHON<a href=""></a></li>
                <li class="list-group-item"><a href="" class="underline">3.Les variables Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les types de données ou types de valeurs
                        Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les opérateurs Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les listes Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les tuples Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les dictionnaires Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les ensembles ou sets Python</a></li>
                <li class="list-group-item">LES STRUCTURES DE CONTRÔLE PYTHON<a href="" class="underline"></a></li>
                <li class="list-group-item"><a href="" class="underline">Les structures conditionnelles if, if…else et
                        if…elif…else en Python</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
            </ul><!-- End Default List group -->
    </div>

        
</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">Cours Python complet</h5>
            <!-- Default List group -->
            <ul class="list-group">
                <li class="list-group-item"><a href="#"
                        onclick="document.getElementById('test').style.visibility='visible'"
                        class="underline">0.INTRODUCTION AU COURS PYTHON</a></li>
                <li class="list-group-item"><a href="" class="underline">1.Introduction à Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.L’environnement de travail Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.Syntaxe de base et exécution d’instructions
                        Python</a></li>
                <li class="list-group-item">LES VARIABLES ET LES TYPES DE VALEURS PYTHON<a href=""></a></li>
                <li class="list-group-item"><a href="" class="underline">3.Les variables Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les types de données ou types de valeurs
                        Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les opérateurs Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les listes Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les tuples Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les dictionnaires Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les ensembles ou sets Python</a></li>
                <li class="list-group-item">LES STRUCTURES DE CONTRÔLE PYTHON<a href="" class="underline"></a></li>
                <li class="list-group-item"><a href="" class="underline">Les structures conditionnelles if, if…else et
                        if…elif…else en Python</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
            </ul><!-- End Default List group -->
    </div>




    

    </div>
    <div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">Cours Python complet</h5>
            <!-- Default List group -->
            <ul class="list-group">
                <li class="list-group-item"><a href="#"
                        onclick="document.getElementById('test').style.visibility='visible'"
                        class="underline">0.INTRODUCTION AU COURS PYTHON</a></li>
                <li class="list-group-item"><a href="" class="underline">1.Introduction à Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.L’environnement de travail Python</a></li>
                <li class="list-group-item"><a href="" class="underline">2.Syntaxe de base et exécution d’instructions
                        Python</a></li>
                <li class="list-group-item">LES VARIABLES ET LES TYPES DE VALEURS PYTHON<a href=""></a></li>
                <li class="list-group-item"><a href="" class="underline">3.Les variables Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les types de données ou types de valeurs
                        Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les opérateurs Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les listes Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les tuples Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les dictionnaires Python</a></li>
                <li class="list-group-item"><a href="" class="underline">Les ensembles ou sets Python</a></li>
                <li class="list-group-item">LES STRUCTURES DE CONTRÔLE PYTHON<a href="" class="underline"></a></li>
                <li class="list-group-item"><a href="" class="underline">Les structures conditionnelles if, if…else et
                        if…elif…else en Python</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
                <li class="list-group-item"><a href="" class="underline">codepen</a></li>
            </ul><!-- End Default List group -->
    </div>




    


    </div>
</section>
{% endblock content %}